body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*****Navbar******/
header {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.logo,
.search {
  padding: 1.5rem;
}

/***Rows***/
.row > div {
  overflow-x: scroll;
}

.category {
  display: flex;
}

.row .movie__backdrop {
  width: 240px;
  cursor: pointer;
  margin: 0.5rem;
}